<div class="page">
  <app-header></app-header>
  <!-- Begin Page Content -->
  <div class="page-content d-flex align-items-stretch">
    <div >
      <app-left-nav></app-left-nav>
    </div>
    <div class="content-inner">
      <div class="container-fluid">

        <router-outlet></router-outlet>


        <toaster-container></toaster-container>

        <!-- /.container -->
      </div>
      <!-- End Container -->
      <div>
        <!-- Begin Page Footer-->

        <!--   <app-footer></app-footer> -->

        <!-- End Page Footer -->

        <!-- Offcanvas Sidebar -->

        <!-- End Offcanvas Sidebar -->
      </div>
    </div>
  </div>
